<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.15.3/dist/extensions/filter-control/bootstrap-table-filter-control.css">
	<style type="text/css">
		.row+.row {
		    margin-top: 1rem;
		}
		.team{
		}
		.name{
		}
		.position{
		    text-transform: uppercase;
		    font-size: 10px;
		    font-family: cs_regular;
		    line-height: 10px;
		    padding: 4px 5px;
		    border-radius: 2px;
		    margin: 0px 0 0px 3px;
		    display: inline-block;
		    width: auto;
		    vertical-align: middle;
		    color: white;
		}
		.position.player-1{
		    background: -webkit-linear-gradient(328deg,#ff7e00 0,#d85912 100%);
		}
		.position.player-2{
    		background: -webkit-linear-gradient(328deg,#ce32dc 0,#8023a7 100%);
   		}
		.position.player-3{
		    background: -webkit-linear-gradient(328deg,#4bafe3 0,#0094ff 100%);
		}
   		.position.player-4{
		    background: -webkit-linear-gradient(328deg,#f3c832 0,#ee9015 100%);
		}
	</style>
</head>
<body>
	<div style="margin-bottom: 5rem; margin-top: 5rem;">
		<div class="container">
			<div class="row">
			    <div class="col">
					<form id="form-token">
					  <div class="form-group">
					    <label for="token">Token</label>
					    <input type="text" class="form-control" id="token" name="token" placeholder="Enter token" autocomplete="off">
					  </div>
					  <button type="submit" class="btn btn-info">Submit</button>
						<button id="btn-copy" type="button" class="btn btn-light">Copiar</button>
					</form>
			    </div>
		  	</div>
			<div class="row">
			    <div class="col">
					<div id="div-leagues" style="display:none;">
					</div>
			    </div>
		    </div>
			<div class="row">
			    <div class="col">
					<div id="spinner1" class="spinner-border text-info" role="status" style="display:none;">
						<span class="sr-only">Loading...</span>
					</div>
					<div id="div-ranking" style="display:none;">
						<div class="row">
						    <div class="col">
								<table id="table-ranking">
								  <thead>
								    <tr>
								      <th data-field="state" data-checkbox="true"></th>
								      <th data-field="position" data-sortable="true">#</th>
								      <th data-field="managerName" data-sortable="true">Manager</th>
								      <th data-field="teamPoints" data-sortable="true">Puntos</th>
								      <th data-field="teamValueFormatted" data-sortable="true" data-sort-name="teamValue">Valor</th>
								      <th data-field="teamMoneyAproxFormatted" data-sortable="true" data-sort-name="teamMoneyAprox">Dinero (aprox.)</th>
								    </tr>
								  </thead>
								</table>
						    </div>
					    </div>
						<div class="row">
						    <div class="col">
								<form id="form-ranking">
									<div class="form-group">
									  <label for="exampleInputEmail1">Diferencia entre Valor de Mercado y Cláusula (en Millones)</label>
									 	<input type="number" class="form-control" id="diffValueBuyoutClause" name="diffValueBuyoutClause" placeholder="Enter difference" autocomplete="off">
									</div>
									<div class="form-group">
									  <label for="exampleInputEmail1">Días para fin de cláusula</label>
									 	<input type="number" class="form-control" id="chkDaysBuyoutClause" name="daysBuyoutClause" placeholder="Enter days" autocomplete="off">
									</div>
									<input type="hidden" id="form-ranking-league" name="league">
									<div class="btn-group dropright">
										<button type="submit" class="btn btn-success">Mostrar Jugadores</button>
									  	<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
									    	<span class="sr-only"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a id="btn-updatedb" class="dropdown-item" href="#">Update</a></li>
									  	</ul>
									</div>
								</form>
						    </div>
					    </div>
					</div>
					<div id="div-market" style="display:none;">
						<table id="table-market">
						  <thead>
						    <tr>
						      <th data-field="playerName" data-formatter="playerFormatter" data-sortable="true">Jugador</th>
						      <th data-field="playerPositionId" data-formatter="positionFormatter" data-sortable="true">Posición</th>
						      <th data-field="playerPoints" data-sortable="true">Puntos</th>
						      <th data-field="playerPointsAA" data-sortable="true">Puntos AA</th>
						      <th data-field="playerValueFormatted" data-sortable="true" data-sort-name="playerValue">Valor</th>
						      <th data-field="diffMarketValuefromYesterdayFormatted" data-sortable="true" data-sort-name="diffMarketValuefromYesterday">Diff</th>
						      <th data-field="playerNumBids" data-sortable="true">Pujas</th>
						    </tr>
						  </thead>
						</table>
					</div>
			    </div>
		    </div>
	    </div>
	    <div style="margin-right: 2rem; margin-left: 2rem;">
			<div id="spinner2" class="spinner-border text-success" role="status" style="display:none;">
			  <span class="sr-only">Loading...</span>
			</div>
			<div id="div-players" style="display:none;">
				<div class="row">
				    <div class="col">
						<table id="table-players">
						  <thead>
						    <tr>
						      <th rowspan="2" data-field="managerName" data-sortable="true" data-filter-control="select">Manager</th>
		<!-- Campos Jugador -->
						      <th rowspan="2" data-formatter="playerFormatter" data-field="playerName" data-sortable="true">Jugador</th>
						      <th rowspan="2" data-field="playerPositionId" data-formatter="positionFormatter" data-sortable="true">Posición</th>
						      <th rowspan="2" data-field="playerPoints" data-sortable="true">Puntos</th>
						      <th rowspan="2" data-field="playerPointsAA" data-sortable="true">Puntos AA</th>
						      <th rowspan="2" data-field="playerValueFormatted" data-sortable="true" data-sort-name="playerValue">Valor</th>
						      <th colspan="3">Cláusula</th>
						      <th colspan="2">vs Mercado Ayer</th>
						      <th rowspan="2" data-field="playerPurchaseDateFormatted" data-sortable="true" data-sort-name="playerPurchaseDate">Fecha Compra</th>
						      <th colspan="2">vs Mercado F. compra</th>
						      <th colspan="2">vs Importe Compra</th>
						    </tr>
						    <tr>
		<!-- Campos Cláusula -->
						      <th data-field="playerBuyoutClauseFormatted" data-sortable="true" data-sort-name="playerBuyoutClause">Total</th>
						      <th data-field="diffMarketValuefromBuyoutClauseFormatted" data-sortable="true" data-sort-name="diffMarketValuefromBuyoutClause">Dif.</th>
						      <th data-field="playerEndBuyoutClauseFormatted" data-sortable="true" data-filter-control="input" data-sort-name="playerEndBuyoutClause">Fecha Fin</th>
		<!-- Campos vs Valor ayer -->
						      <th data-field="playerMarketValueYesterdayFormatted" data-sortable="true" data-sort-name="playerMarketValueYesterday">Valor</th>
						      <th data-field="diffMarketValuefromYesterdayFormatted" data-sortable="true" data-sort-name="diffMarketValuefromYesterday">Dif.</th>
<!-- 						      <th data-field="upDownMarketValuefromYesterday" data-sortable="true" data-filter-control="select">Up/Down</th> -->
		<!-- Campos vs Valor compra -->
						      <th data-field="playerMarketValuePurchaseDateFormatted" data-sortable="true" data-sort-name="playerMarketValuePurchaseDate">Valor</th>
						      <th data-field="diffMarketValuefromPurchaseDateFormatted" data-sortable="true" data-sort-name="diffMarketValuefromPurchaseDate">Dif.</th>
<!-- 						      <th data-field="upDownMarketValuefromPurchaseDate" data-sortable="true">Up/Down</th> -->
		<!-- Campos vs Importe compra -->
						      <th data-field="playerPurchaseAmountFormatted" data-sortable="true" data-sort-name="playerPurchaseAmount">Importe</th>
						      <th data-field="diffMarketValuefromPurchaseAmountFormatted" data-sortable="true" data-sort-name="diffMarketValuefromPurchaseAmount">Dif.</th>
<!-- 						      <th data-field="upDownMarketValuefromPurchaseAmount" data-sortable="true">Up/Down</th> -->
						    </tr>
						  </thead>
						</table>
				    </div>
			    </div>
<!-- 				<div class="row"> -->
<!-- 				    <div class="col"> -->
<!-- 						<button id="btn-hide-columns" type="button" class="btn warning">Ocultar columnas</button> -->
<!-- 				    </div> -->
<!-- 			    </div> -->
			</div>
	    </div>
	</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/extensions/filter-control/bootstrap-table-filter-control.js"></script>
<script>
  	function playerFormatter(value, row) {
    	return '<div class="row"><div class="col-1"><span class="team"><img height="20px" src="'+row.playerTeamImage+'" /></span></div><div class="col"><span class="name"> '+ value + '</span></div></div>';
  	}
  	function positionFormatter(value, row) {
  		return '<div class="row"><div class="col text-center"><span class="position player-'+ row.playerPositionId + '"> '+ row.playerPositionName + '</span></div></div>';
	}
  	$(document).ready(function(){
  		var $formtoken = $("#form-token");
  		var $formranking = $("#form-ranking");
  	  	var $tableranking = $("#table-ranking");
  	  	var $tableplayers = $("#table-players");
  	  	var $tablemarket = $("#table-market");
  	  	var $divleagues = $("#div-leagues");
  	  	var $divranking = $("#div-ranking");
  	  	var $divplayers = $("#div-players");
  	  	var $divmarket = $("#div-market");
  	  	var $spinner1 = $("#spinner1");
  	  	var $spinner2 = $("#spinner2");
  	  	
  	    $tableranking.bootstrapTable({
  	 	   sorting: true,
  	 	   clickToSelect:true,
//   	 	   showColumns: true,
//   	 	   showMultiSort: true,
//   	 	   showMultiSortButton: true,
  	 	   sortName: "position",
  	 	   sortOrder: "asc"
  	 	   });
  	    $tablemarket.bootstrapTable({
   	 	   sorting: true,
   	 	   sortName: "diffMarketValue",
   	 	   sortOrder: "desc"
   	 	   });
  	    $tableplayers.bootstrapTable({
  	 	   sorting: true,
  	 	   showColumns: true,
  	 	   showMultiSort: true,
  	 	   showMultiSortButton: true,
  	 	   pagination: true,
  	 	   showExtendedPagination: true
//   	 	   filterControl: true
  	 	   });
  	    function getLeagues(){
		  	$divleagues.hide();
  		  	$divmarket.hide();
  		  	$divranking.hide();
  		  	$divplayers.hide();
 		  	$spinner1.hide();
 		  	$spinner2.hide();
  		  	$divleagues.empty();
  		    $.ajax({
  		           type: "GET",
  		           url: "/fantasyJson/leagues",
  		           data: $formtoken.serialize(), // serializes the form's elements.
  		           dataType: 'json',
  		           success: function(data)
  		           {
							var button_group1 = $('<div class="btn-group" role="group">');
  		        	      	$.each(data, function(index, item) {
								if (this!='') {
									var button_class = "btn-secondary";
									if (index % 2 === 0) {
										button_class = "btn-primary";
									}
									var button_group2 = $('<div class="btn-group" role="group">');
									var button_dropdown = $('<button id="btnGroupDrop1" type="button" class="btn '+button_class+' dropdown-toggle" data-toggle="dropdown">'+item.leagueName+'</button>');
									var button_menu = $('<ul class="dropdown-menu" role="menu">');
									var li_market = $('<li>');
  		        	            	var a_market = $('<a/>',
  		        	            	    {
  		        	            			text: "Market",
  		        	            	      	href: "#",
  		        	            	      	class: "dropdown-item",
  		        	            	        click: function () { 
  		        	            	        		getMarket(item.leagueId);
  		        	            	        	}
  		        	            	    });
									var li_ranking = $('<li>');
  		        	            	var a_ranking = $('<a/>',
  	  		        	            	    {
  	  		        	            			text: "Ranking",
  	  		        	            	      	href: "#",
  	  		        	            	      	class: "dropdown-item",
  	  		        	            	        click: function () { 
  	  		        	            	        		getRanking(item.leagueId);
  	  		        	            	        	}
  	  		        	            	    });
  		        	            	li_market.append(a_market);
  		        	            	li_ranking.append(a_ranking);
  		        	            	button_menu.append(li_ranking);
  		        	            	button_menu.append(li_market);
  		        	            	button_group2.append(button_dropdown);
  		        	            	button_group2.append(button_menu);
  		        	            	button_group1.append(button_group2);
  		        	          }
  		        	        });
        	            	$divleagues.append(button_group1);
  		             		$divleagues.show();
  		           }
  		         });
  	    }
  	    function getRanking(id){
  		  	$divmarket.hide();
  		  	$divranking.hide();
  		  	$divplayers.hide();
 		  	$spinner2.hide();
  		  	$spinner1.show();
  		    $.ajax({
  		           type: "GET",
  		           url: "/fantasyJson/ranking",
  		           data: "token="+$("#token").val()+"&league="+id,
  		           success: function(data)
  		           {
  		               $tableranking.bootstrapTable("refreshOptions",{
  		            	   data: data,
  		        	 	   sortName: 'position',
  		        	 	   sortOrder: 'asc'});
 		    		  	$spinner1.hide();
  		             	$divranking.show();
  		             	 $('html, body').animate({
  		             		 scrollTop: $divranking.offset().top
  		             		 }, 1000);
  		             	$("#form-ranking-league").val(id);
  		           }
  		         });
  	    }
  	    function getMarket(id){
  		  	$divmarket.hide();
  		  	$divranking.hide();
  		  	$divplayers.hide();
 		  	$spinner2.hide();
  		  	$spinner1.show();
  		    $.ajax({
  		           type: "GET",
  		           url: "/fantasyJson/market",
  		           data: "token="+$("#token").val()+"&league="+id,
  		           success: function(data)
  		           {
  		               $tablemarket.bootstrapTable("refreshOptions",{
  		            	   data: data,
  		         	 	   sortName: 'diffMarketValue',
  		         	 	   sortOrder: 'desc'});
 		    		  	$spinner1.hide();
  		             	$divmarket.show();
  		             	 $('html, body').animate({
  		             		 scrollTop: $divmarket.offset().top
  		             		 }, 1000);
  		           }
  		         });
  	    }
  	    function getPlayers(updatedb){
  		  	$divplayers.hide();
  		  	$spinner2.show();
          	 $('html, body').animate({
          		 scrollTop: $spinner2.offset().top
          		 }, 1000);
  	  		var teams = [];
  	  		var json = JSON.parse(JSON.stringify($tableranking.bootstrapTable('getSelections')));
  	  		$.each(json, function(idx, obj) {
  	  			teams.push(obj.teamId);
  	  		});
  	  		var params = "&token=" + $("#token").val() + "&teams=" + teams.toString() + "&updatedb=" + updatedb;
  		    $.ajax({
  		           type: "GET",
  		           url: "/fantasyJson/players",
  		           data: $formranking.serialize() + params, 
  		           success: function(data)
  		           {
						$tableplayers.bootstrapTable("refreshOptions",{data: data});
  		   		  		$spinner2.hide();
  		             	$divplayers.show();
  		             	 $('html, body').animate({
  		             		 scrollTop: $divplayers.offset().top
  		             		 }, 1000);
  		           }
  		         });
  	    }
  	  	$formtoken.submit(function( event ) {
  		  event.preventDefault();
  		  getLeagues();
  		});
  	  	$formranking.submit(function( event ) {
			event.preventDefault();
			getPlayers("off");
  	  	});
  	  	$("#btn-copy").click(function( event ) {
  		  	$("#token").focus();
  		  	$("#token").select();
  		     document.execCommand('copy');
  	  	});
  	  	$("#btn-updatedb").click(function( event ) {
			getPlayers("on");
  	  	});
  	})
</script>
</body>
</html>